# gitignore file for the ~/.config folder

# these hold sensitive data
/ssh
/pass
/fetchmail
/alot
/gpg
# these contain api token
/hub
/lab.hcl
/lab/lab.toml
/gh/hosts.yml
/pypirc
# holds the passwords to log into freenode/nickserv
/weechat

# It does not make sense to track these
/pulse
/evince/accels

# managed by home-manager
/alacritty/
