# gitignore file for the ~/.config folder

# These have their own repositories
/awesome
/nvim
/zsh

# these hold sensitive data
/ssh
/pass
/fetchmail
/alot
/mutt
/certs
/gpg
# these contain api token
/hub
/lab.hcl
# holds the passwords to log into freenode/nickserv
/weechat
