configuration {
	modi: "combi,mpc:~/.config/rofi/bin/mpc.sh,shell:~/.config/rofi/bin/shell,window,run,mru:~/.config/rofi/bin/mru.sh,ssh,man:~/.config/rofi/bin/man.sh,test:~/.config/rofi/bin/test.sh";
	show-icons: true;
	terminal: "term";
	combi-modi: "window,mpc,drun,mru,run";
	matching: "fuzzy";
	kb-cancel: "Escape,Menu,Print";
}

@theme "solarized"
